@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

$base-color: #ffe81f;

.theme--light.v-application {
  background: url('../images/background.jpg') no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card-title {
  background: $base-color;
}

.v-data-table-item-name {
  font-weight: 600;
}

.base-color {
  color: $base-color !important;
}

th.text-start {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 0.8rem !important;
  color: $base-color !important;
}

.theme--dark.v-data-table
  > .v-data-table__wrapper
  > table
  > tbody
  > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper):hover {
  background: radial-gradient(
    circle,
    rgba(0, 215, 255, 0.3253502084427521) 40%,
    rgba(29, 151, 219, 0.41778718323266806) 66%
  );
}

.v-card {
  white-space: nowrap;
}
